<div class="container">
  <div class="row">
    <div class="col-sm" *ngFor="let ta of tas; let i = index">
        <img *ngIf="ta.hidePicture" (mouseover)="ta.changeDisplayInfo()" src="{{ ta.photo }}" alt="TA Photo" class="image" />
    
        <div *ngIf="ta.displayingInfo" id="infoDisplay">
          <pre>
            <ol>
              <li>Coding Background: {{ ta.codingBackground }}</li>
              <li>Job: {{ ta.job }}</li>
              <li>Most Common Language: {{ ta.mostCommonLang }}</li>
              <li>Hobby : {{ ta.hobbie }}</li>
              <li>Fun fact: {{ ta.funFact }}</li>
            </ol>
            "Hello World"
          </pre>
          
        </div>
      <H1>{{ ta.name }}</H1>
    </div>
  </div>
</div>
